.home-page {

    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }

    h1 {
        color: white;
        font-size: 53px;
        margin: 0;
        font-family: 'Roboto';

        &::before{
            content: '<h1>';
            font-family: 'La Belle Aurore';
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            left: 15px;
            opacity: 0.6;
        }

        &::after {
            content: '<h1/>';
            font-family: 'La Belle Aurore';
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: 18px;
            margin-left: 20px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6s;
        }


        .name-container { // This targets the "onya" span
            display: inline-block; // This makes margin adjustments possible
            margin-left: -20px; // Adjust this value to move "onya" to the left
        }

        

        img {
            width: 100px; 
            margin-bottom: -33px; 
            margin-left: -6px;
            opacity: 0;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;

        }
    }

    h2 {
        font-family: 'Arimo';
        color: #8d8d8d;
        margin-top: 20px;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;
    }

    .flat-button {
        font-family: 'Arimo';
        color: #ffd700;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        text-decoration: none;
        padding: 10px 10px;
        border: 1px solid #ffd700;
        margin-top: 20px;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;
        text-align: center;

        &:hover {
            background: #ffd700;
            color: #333;
        }
    }
}